ultralytics
pymatting
addict
yapf
onnxruntime
onnxruntime-gpu
insightface>=0.7.3
imageio-ffmpeg
pandas
numexpr
clip-interrogator
simpleeval
segment-anything
scikit-image
piexif
scipy>=1.11.4
dynamicprompts>=0.30.2
matplotlib
cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
numba
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-learn
timm>=0.4.12
onnx
numpy
opencv-contrib-python-headless[ffmpeg]>=4.7.0.72
opencv-contrib-python
colour-science
wget
mediapipe
loguru
typer_config
fastapi
rich
google-generativeai
diffusers
omegaconf
filelock
python-dateutil
svglib
fvcore
ftfy
yacs
trimesh[easy]
albumentations
matrix-client>=0.4.0
huggingface-hub